**/bin/
**/obj/
**/node_modules/
**/dist/
**/.vs/
*.user
vneid-sign-console/.env
VNeIDSignGateway/logs/
VNeIDWebhook/logs/
VNeIDWebhook/App.config
VNeIDSignGateway/appsettings.json
VNeIDSignGateway/appsettings.Development.json
Thông tin kết nối.docx
**/.env
**/.env.*
**/local.properties
**/*.apk
**/*.keystore
**/*.rar
VNeIDSignGateway/publish/
CA2-RS-main/android/.gradle/
CA2-RS-main/android/app/build/
CA2-RS-main/android/build/
